@import '../../scss/base/constants';

:local(.Device) {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

:local(.Left) {
  flex: 0.6;
}

:local(.Right) {
  flex: 0.4;
  background: $BG_LIGHTNAVY;
  padding: 20px;
}

:local(.variableLabel) {
  position: relative;
}
