@import 'constants';

html, body {
  height: 100%;
  @include linear-gradient(0deg, $BG_GRAD_TOP, $BG_GRAD_BOTTOM)
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#root {
  height: 100%;
}
